/* =============
    Base
============= */
figure {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

a {
    text-decoration: none;
}

.yellow-bar {
    border-bottom: solid 5px $yellow;
    margin: 8% 25%;
    width: 50%;

    @include md {
        border-bottom: solid 8px $yellow;
        margin: 5% 25%;
    }
}