/* =============
    Section 1
============= */
#section-1 {
    div {
        background-image: url("../img/section-1/aqua1.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 75vh;
        position: relative;

        @include lg {
            height: 95vh;
        }
    }

    h1 {
        background-color: $teal;
        color: $light-blue;
        font-family: 'Lora', serif;
        font-size: 2.5em;
        font-style: italic;
        font-weight: 700;
        padding: 1%;
        text-align: center;
        letter-spacing: 1px;
        padding: 2%;

        @include lg {
            bottom: 25%;
            font-size: 3em;
            margin-right: 25%;
            padding: 1% 8%;
            position: absolute;
        }
    }

    p {
        background-color: $light-blue;
        color: $blue;
        font-size: 1.5em;
        font-weight: 400;
        margin: 6% 0 3%;
        padding: 2% 21%;
        text-align: center;
    }
}