/* =============
    Section 2
============= */
#section-2 {
    h2 {
        color: $teal;
        font-family: 'Lora', serif;
        font-size: 2em;
        font-weight: 700;
        margin: 3% 20%;
        text-align: center;

        @include md {
            font-size: 2em;
        }
    }

    #cards {
        p {
            color: $dark-blue;
            font-size: 1.3em;
            font-weight: 700;
            padding: 3% 0;
            text-align: center;
        }

        ul {
            display: grid;

            @include md {
                display: grid;
                gap: 30px;
                grid-template-areas: ". g-1 g-1 g-2 g-2 ."
                    ". . g-3 g-3 . .";
                grid-template-columns: repeat(6, 1fr);
            }

            li {
                background-color: $light-blue;

                div {
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-bottom: 15px solid $yellow;
                    height: 50vh;

                    @include md {
                        height: 30vh;
                    }

                    @include lg {
                        height: 50vh;
                    }
                }

                section {
                    padding: 30px;
                }
            }

            #card-1 {
                @include md {
                    grid-area: g-1;
                }

                div {
                    background-image: url("../img/section-2/aqua3.jpg");
                }
            }

            #card-2 {
                @include md {
                    grid-area: g-2;
                }

                div {
                    background-image: url("../img/section-2/aqua2.jpg");
                }
            }

            #card-3 {
                @include md {
                    grid-area: g-3;
                }

                div {
                    background-image: url("../img/section-2/aqua4.jpg");
                }
            }
        }
    }
}