/* =============
    Footer
============= */
#footer-image{
    background-image: url("../img/footer/aqua5.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;

    @include md{
        height: 80vh;
    }
}