/* =============
    Footer
============= */
#footer {
    background-image: url("../img/footer/aqua5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-areas: "l . r";
    grid-template-columns: "30% auto 30%";
    height: 50vh;
    padding-top: 10%;

    @include md {
        height: 90vh;
    }

    #l {
        grid-area: l;
        margin: auto 0;

        ul {
            align-items: center;
            color: $light-blue;
            display: flex;
            justify-content: center;

            li {
                font-size: 1.5em;
                margin: 2%;

                i {
                    cursor: pointer;

                    &:link,
                    &:visited {
                        font-size: 1.5em;
                        transition: 0.3s;
                    }

                    &:hover,
                    &:active {
                        color: $dark-blue;
                        transition: 0.3s;
                    }
                }
            }
        }
    }

    #r {
        grid-area: r;
        margin: auto 0;
    }

    .group {
        margin-bottom: 10%;

        #no {
            margin: 7% 0 7%;
        }

        p {
            color: $light-blue;
            font-size: 1.2em;
            text-align: center;
        }

        .hide {
            display: none;

            li {
                color: $light-blue;
                padding: 3px;
                text-align: center;
            }

            @include lg {
                display: block !important;
            }
        }
    }

    span {
        font-weight: bold;
    }
}