/* =============
    Header
============= */
header {
    background-color: $blue;
    display: grid;
    grid-template-areas: "l . m";
    grid-template-columns: 8% auto auto;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    #logo {
        grid-area: l;

        img {
            padding: 15px 30px;
            width: 100%;
        }
    }

    #menu {
        align-self: center;
        grid-area: m;
        padding: 15px;

        ul {
            display: flex;
            justify-content: flex-end;

            li {
                background-color: rgba(0, 0, 0, 0);
                color: $yellow;
                cursor: pointer;
                font-family: 'Lora', serif;
                font-weight: 700;
                margin: 0 20px;

                button:link,
                button:visited {
                    color: $yellow;
                    font-size: 1.3em;
                    text-decoration: none;
                    transition: 0.3s;
                }

                button:hover,
                button:active {
                    color: $light-blue;
                    transition: 0.3s;
                }
            }
        }
    }

    @include lg {
        display: grid;
        grid-template-areas: "l . m";
        grid-template-columns: 5% auto auto;
    }

    @include xl {
        display: grid;
        grid-template-areas: "l . m";
        grid-template-columns: 4% auto auto;
    }
}