/* =============
    Header
============= */
header{
    background-color: $blue;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    display: grid;
    grid-template-columns: 8% auto auto;
    grid-template-areas: "l . m";
    
    #logo{
        grid-area: l;
        place-items: center;
        img{
            width: 100%;
            padding: 10px;
        }
    }
    #menu {
        grid-area: m;
        padding: 15px;
        align-self: center;
        ul{
            display: flex;
            justify-content: flex-end;
            li{
                margin: 0 10px;
                font-family: 'Lora', serif;
                font-weight: 700;
                cursor: pointer;
                
                a:link,
                a:visited {
                    cursor: pointer;
                    color: $yellow;
                    text-decoration: none;
                    transition: 0.3s;
                    font-size: 1.1em;
                }
                a:hover,
                a:active {
                    color: $light-blue;
                    transition: 0.3s;
                }
            }
        }

}
@include lg{
    display: grid;
    grid-template-columns: 5% auto auto;
    grid-template-areas: "l . m";
}
@include xl{
    display: grid;
    grid-template-columns: 4% auto auto;
    grid-template-areas: "l . m";
}
}