/* =============
    Buttons
============= */
.yellow-button{
    background-color: $yellow;
    border: solid 5px $yellow;
    border-radius: 10px;
    padding: 2%;
    margin: 0;
    top: 50%;
    left: 50%;

    font-family: 'Lato', sans-serif;
    color: $dark-blue;
    font-size: 1.3em;

    @include md{
        padding: 1%;
    }

    cursor: pointer;
}