/* =============
    Buttons
============= */
.yellow-button {
    background-color: $yellow;
    border: solid 5px $yellow;
    border-radius: 10px;
    color: $dark-blue;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    left: 50%;
    margin: 0;
    padding: 2%;
    top: 50%;

    @include md {
        padding: 1%;
    }
}

.nav {
    background-color: $blue;
    border-style: none;
    color: $yellow;
    font-size: 1.3em;
    outline: none;
}